@import "../../../src/styles/variables";

.container {
    height:100vh;
    display: flex;
    padding: 10vh;
    max-width: 740vh;
    justify-content: center;
    background-color: $primaryBg;
}

h3 {
    color: $textDark;
    margin-top: 3rem;
}

.signup-label{
    margin-top: 2rem;
    font-size: small;
    color: $textDark;
}

.img-thumbnail{
    border-radius: 100%;
}

.update-icon {
    position: absolute;
    right: 7px;
    top: 7px;
    color:teal
}

.delete-icon{
    position: absolute;
    right: 7px;
    top: 30px;
    color:crimson;
}

.delete-icon:hover, .update-icon:hover {
    cursor: pointer;
    scale: 1.5;
}

.error-label{
    color: darkgrey;
}