@import "../../../styles/_variables.scss";

.container {
    height:100vh;
    display: flex;
    padding: 10vh;
    max-width: 740vh;
    justify-content: center;
    background-color: $primaryBg;
}

h3 {
    color: $textDark;
    margin-top: 3rem;
}

.signup-label{
    margin-top: 2rem;
    font-size: small;
    color: $textDark;
}